* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #1e1746fc;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050523;
  position: relative;
  min-height: 100vh;
  
}

.movies-header > h1 {
  font-family: 'Rubik Iso', cursive;
  font-size: 2.5rem;
  color: #a1b6ee;
  background-color: rgb(3, 3, 3);
  padding: 1.5rem 0;
  text-shadow: 5px 4px 10px #8e9188;
}

#navbar,
.movies-header {
  text-align: center;
}

#navbar {
  background-color: #1e1746fc;
  height: min(3rem, 8rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

div input {
  cursor: pointer;
}

label {
  color: white;
}

#list-movies {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#search {
  border-radius: 100px;
  padding: 0 1rem;
  height: 1.5rem;
}

#search:hover {
  background-color: rgb(253, 252, 253);
}

.footer {
  height: 6vh;
  background-color: var(--dark-blue);
  color: #fff;
  display: flex;
  align-items: center;
  word-spacing: 0.5rem;
  text-transform: uppercase;
  position: absolute;
  direction: rtl;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin-right: 3rem;
}

.poster {
  margin: 0 1rem 3rem 1rem;
}

.movieli:hover {
  transition: transform 150ms 50ms ease-in-out;
  transform: scale(1.1, 1.1);
}

input[type='text']::placeholder {
  font-size: 0.9rem;
  color: #473692;
}

input[type='text'] {
  border: dotted 2px rgb(87, 87, 102);
  outline: none;
  background: rgb(217, 228, 229);
}

input[type='radio']:checked {
  accent-color: hotpink;
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .movies-header > h1 {
    font-size: 1.8rem;
    inline-size: 50%;
    margin-inline-start: 25%;
  }

  #navbar > * {
    width: 100%;
    border-top: 1px solid rgba(82, 82, 82, 0.532);
    display: inline-block;
    padding: 0.2rem 0;
    background-color: var(--dark-blue);
    font-size: 1rem;
    z-index: 2;
  }

  #navbar > div:hover {
    background-color: rgba(183, 195, 234, 0.345);
  }
  .poster {
    margin-bottom: 1.5rem;
    width: 90%;
  }

  #list-movies {
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 0;
  }

  .footer {
    visibility: hidden;
  }
}


