* {
  box-sizing: border-box;
  margin: 0 auto;
}

#navbar,
.movies-header {
  text-align: center;
}

#navbar {
  background-color: rgba(30, 23, 70, 0.988);
  height: min(3rem, 10rem);
}

label {
  color: white;
}
